{% extends "base.html" %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Bots</li>
  </ol>
</nav>
{% endblock %}

{% block custom_commands %}
<div class="container">
    <a class="btn btn-primary" href="{{ url_for('bots_add')}}" role="button">Novo Bot</a>
</div>
{% endblock %}

{% block content %}

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th class="text-center" scope="col">#</th>
                <th class="text-center" scope="col">Nome</th>
                <th class="text-center" scope="col">Par de moedas</th>
                <th class="text-center" scope="col">Posição atual</th>
                <th class="text-center" scope="col">Status</th>
                <th class="text-center" scope="col">Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for bot in bots %}
            <tr>
                <th class="text-center" scope="row">{{ bot.id }}</th>
                <td class="text-center">{{ bot.name }}</td>
                <td class="text-center">{{ bot.currency_pair.code }}</td>
                <td class="text-center"> - </td>
                <td class="text-center">
                    {% if bot.active %}
                    <span class="badge badge-pill badge-success">On</span>
                    {% else %}
                    <span class="badge badge-pill badge-danger">Off</span>
                    {% endif %}
                </td>
                <td class="text-center">
                    <a class="btn btn-primary btn-sm" href="{{ url_for('bots_edit', id=bot.id) }}" role="button">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
