{% extends "base.html" %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('bots') }}">Bots</a></li>
    <li class="breadcrumb-item active" aria-current="page">Operações</li>
  </ol>
</nav>
{% endblock %}

{% block custom_commands %}
<div class="container">
  <h1 class="display-6">Bot: #{{bot.id}} - {{bot.name}}</h1>
  <p class="lead">Par de moeda atual: {{bot.currency_pair.code}}</p>
</div>
{% endblock %}

{% block content %}

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th class="text-center" scope="col">Hora entrada</th>
                <th class="text-center" scope="col">Hora saída</th>
                <th class="text-center" scope="col">Tipo</th>
                <th class="text-center" scope="col">Preço compra</th>
                <th class="text-center" scope="col">Preço venda</th>
                <th class="text-center" scope="col">Quantidade</th>
                <th class="text-center" scope="col">Resultado</th>
            </tr>
        </thead>
        <tbody>
            {% for trade in trades %}
            <tr>
                <th class="text-center" scope="row">{{ trade.open_time }}</th>
                <td class="text-center {{ '' if trade.close_time else 'text-warning'}}">{{ trade.close_time if trade.close_time else 'Aberta' }}</td>
                <td class="text-center {{ 'text-success' if trade.trade_type == 'B' else 'text-danger'}}">{{ 'Compra' if trade.trade_type == 'B' else 'Venda' }}</td>
                <td class="text-right {{'' if trade.buy_price else 'text-warning'}}">{{ '%.8f' | format(trade.buy_price if trade.buy_price else current_price | float) }}</td>
                <td class="text-right {{'' if trade.sell_price else 'text-warning'}}">{{ '%.8f' | format(trade.sell_price if trade.sell_price else current_price | float) }}</td>
                <td class="text-center">{{ trade.amount }}</td>

                <td class="text-right">{{ '%0.8f' % trade.result(current_price) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
