{% extends 'base.html' %}

{% from 'bootstrap/form.html' import render_form_row, render_field, form_errors %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('bots.index') }}">Bots</a></li>
    <li class="breadcrumb-item active" aria-current="page">Novo</li>
  </ol>
</nav>

{% endblock %}

{% block content %}
<form method="POST">
    {{ form.csrf_token() }}
    {{ render_form_row([form.name, form.currency_pair_id, form.period]) }}
    {{ render_form_row([form.gain_size, form.loss_size])}}
    {{ render_form_row([form.amount, form.short_sma, form.long_sma]) }}
    <div class="form-row">
        <div class="form-group">
            <div class="custom-control custom-switch">
                {{ form.active(class_='custom-control-input') }}
                {{form.active.label(class_="custom-control-label")}}
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </div>

</form>
{% endblock %}
